<nav class="w-100 d-flex align-items-center justify-content-between bg-light">
    <ul class="nav align-items-center m-2">
        <li class="nav-item px-2">
            <a routerLink="/"
               class="text-reset text-decoration-none">
                <img
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/200px-International_Pok%C3%A9mon_logo.svg.png">
            </a>
        </li>
        <li class="nav-item px-2">
            <a routerLink="generations"
               routerLinkActive="active"
               class="nav-link link-secondary text-decoration-none active">Générations</a>
        </li>
        <li class="nav-item px-2">
            <a routerLink="pokemons"
               routerLinkActive="active"
               class="nav-link link-secondary text-decoration-none active">Pokémons</a>
        </li>
    </ul>
    <ul class="nav me-2">
        <li class="btn btn-primary mx-1">
            <a routerLink="creerCompte"
               class="text-reset text-decoration-none">Créer un compte</a>
        </li>
        <li class="btn btn-outline-primary mx-1">
            <a routerLink="connexion"
               class="text-reset text-decoration-none">Se connecter</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
